doctype html
html
  head
    title= title
    block headsection

    script(src="/js/filedrop.js")
    script(src="/components/jquery/dist/jquery.min.js")

    link(rel='stylesheet', href='/css/style.css')

  body
      block content
      block customscripts


